*{
   margin: 0; 
   padding: 0;
}

.container{
    width: 1140px;
    margin: 0 auto;
}

.header{
    height: 50px;
    display: flex ;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 60px;
}

body{
    font-family: sans-serif;
}

.text{
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
}

.top_heading{
    width: 510px;
    font-size: 64px;
    color: #1F3F68;
}

.contacts-header .top_info{
    width: 425px;
}

.heading-contacts{
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.heading{
  font-size: 36px;
  text-align: center;
}

.heading-mini{
    font-size: 36px;
    text-align: center;
}

.messages{
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.button_submit{
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}

.card{
    width: 359px;
}

.what-we-do .container{
    display: flex;
    justify-content: space-between;
}

.footer_text{
    width: 495px;
}

.footer_text .heading-mini{
    width: 340px;
}

.footer_info{
    display: flex;
    justify-content: space-between;
}

.contact_box .container{
    display: flex;
    justify-content: space-between;
}

.form{
    border: 1px solid #000;
    border-radius: 10px;
}

.map{
    flex-grow: 1;
}